html,body{
    margin:0;
    height: 100%;
}
@font-face{
    font-family: roboto;
    src:url(asset/font/Roboto-Thin.ttf);
}
html{
    font-family: roboto;
    font-size: 14px;
}
body{
    min-height: 100vh;
    height: 100%;
}
/*------ DEBUT ENTETE-----*/
nav{
    display:inline-block;
    height: 40px;
    width: 100%;
    text-align: center;
    background-color: black;
}
nav a {
    color:white;
    text-decoration: none;
    font-size:25px;
    margin-left:10px;
    margin-right:10px;
    width:150px;
}
nav>a:hover{
    color:darkgray;
    text-decoration: none;
}
.nav_link{
    transition-property: color;
    transition-duration: 3s;
    transition-delay: 0s;
}
.nav_link:hover{
    color:red;
}

/*------ FIN ENTETE-----*/

/*------ DEBUT BODY MAIN-----*/
.elon{
    width:30%;
    height: 30%;
}
.extrait{
    width:100%;

}
#content_main{
    display: inline;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color:red;
    text-decoration: underline;
}

.divArt{
    display:flex;
}
.suite{
display:block;
padding-top:5px;
width:30%;
}


.section_article{
    display:flex;
    flex-direction: row;
}
.cote{
    background-color: #F5C16C;
    border-style: inset;
    border-color:#D31546;
    width:30%;
    margin:10px;
    margin-top:20px;
    border-radius:20px;
}
.article_content{
    width:70%;
}
article *{
    margin:5px;
}
.divArt>div>div{
    display: flex;
    justify-content: space-between;
}
.liens-articles>a{
    padding:10px;
}
.liens-articles{
    padding:20px;
}
.divArt{
    display:flex;
}
/*------ FIN BODY MAIN-----*/

/*------ DEBUT FOOTER-----*/
footer{
    height: 40px;
    position:relative;
    display:flex;
    bottom:0px;
    width:100%;
    background-color: black;
    color:white;
    justify-content: space-between;
    margin-top:150px;
}

footer>div>a{
    color:white;
    font-size:20px;
    margin:10px;
}
.footer_infos{
    display: flex;
    flex-direction: row;
}
.footer_infos>p{
    margin:10px;
}
.footer_link{
    transition-property: font-size;
    transition-duration: 3s;
    transition-delay: 0s;
}
.footer_link:hover{
    font-size: 25px;
    text-decoration:none;
}

/*------ FIN FOOTER-----*/

/*------ DEBUT AUTRES PAGES-----*/

.spacex{
    width: 200px;
    height: 200px;;
}

.monkey{
    width:200px;
    height: 200px;;
}
.fb{
    width:200px;
    height: 150px;
}

/*------ FIN AUTRES PAGES-----*/









