.elon{
    width:180px;
}
#content_main{
    display: inline;
}
nav{
    display:flex;
    height: 40px;
}
nav a {
    margin-left:50px;
}
aside{
    padding :20px;
}
footer{
    margin:30px;
}
footer>a{
    margin:10px;
}
.spacex{
    width: 200px;
    height: 200px;;
}
.divArt{
    display:flex;
}
.monkey{
    width:200px;
    height: 200px;;
}
.fb{
    width:200px;
    height: 150px;
}

@font-face{
    font-family: roboto;
    src:url(asset/font/Roboto-Thin.ttf);
}
html{
    font-family: roboto;
    font-size: 14px;
}
aside{
    display:flex;
}